<div class="sign_up_whole">
  <h2 class="subheading">Edit Comment</h2>

  <% if @comment.user == current_user %>
    <%= form_for [@project, @comment] do |f| %>
      <div class="field">
        <%= f.label :body %>
        <%= f.text_area :body %>
      </div>

      <div class="actions">
        <%= f.submit "Update Comment", class: "sign-in-buttons" %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="delete-buttons">
  <%= link_to "Delete Comment", project_comment_path(@project, @comment), method: :delete, data: {confirm: "Are you sure?"} %>
</div>
