<%= form_for [@project, @comment] do |f| %>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit "Update Comment" %>
  </div>
<% end %>

<%= link_to "Delete Comment", project_comment_path(@project, @comment), method: :delete, data: {confirm: "Are you sure?"} %>
