<div class="sign_up_whole">
  <h2 class="subheading">Create New Project</h2>

  <%= form_for(@project) do |f| %>
    <div class="field">
      <%= f.label :title, :class => "sign_up_heading" %><br/>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :description, :class => "sign_up_heading" %><br/>
      <%= f.text_field :description %>
    </div>

    <div class="field">
      <%= f.label :supplies, :class => "sign_up_heading" %><br/>
      <%= f.text_field :supplies, placeholder: "Example: phillips head screwdriver; hammer; goggles" %>
    </div>

    <div class="field">
      <%= f.label :picture, :class => "sign_up_heading" %><br/>
      <%= f.text_field :picture, placeholder: "Please enter a complete image web address" %>
    </div>

    <div class="field">
      <%= f.label :category %>
      <%= f.select :category, options_for_select(@categories) %>
    </div>

    <div class="actions">
      <%= f.submit "Create Project", class: "sign-in-buttons" %>
    </div>
  <% end %>
</div>

<%= link_to "Back To Projects", root_path, class: "back-links" %>
