<div class="sign_up_whole">
  <h2 class="text-center project-title small-12 columns"><%= @project.title %> </h2>

  <p class="small-4 columns text-center show-pic"><%= image_tag(@project.picture) %> </p>
  <div class="small-8 columns project-overview">
    <p>Description: <%= @project.description %> </p>
    <p>Supplies: <%= @project.supplies %> </p>
    <p>Made By: <%= @project.user.username %> </p>
    <p>Category: <%= @project.category %> </p>
    <div class="show-links">
      <% if current_user == @project.user || current_user.admin? %>
        <%= link_to "Update Project", edit_project_path %>
      <% end %>
    </div>
  </div>

<h3 class="text-center project-title small-12 columns">Steps</h3>
<% @steps.each_with_index do |step, index| %>
  <div class="small-12 columns">
    <p class="small-4 columns text-center show-pic"> <%= image_tag(step.step_picture) %> </p>

    <div class="small-8 columns project-overview">
      <p class="step">Step <%= index + 1 %> </p>
      <p> <%= step.step_description %> </p>
      <% if current_user == @project.user || current_user.admin? %>
        <%= link_to "Update Step", edit_project_step_path(@project, step)%>
      <% end %>
    </div>
  </div>
<% end %>


<% if current_user.id == @project.user.id %>

  <h3 class="text-center small-12 columns add-step-title">Add Another Step</h3>

  <%= form_for [@project, @step] do |f| %>
    <div class="field">
      <%= f.label :step_description, "Description", class: "small-12 columns sign_up_heading" %>
      <%= f.text_area :step_description %>
    </div>

    <div class="field">
      <%= f.label :step_picture, "Picture", class: "small-12 columns sign_up_heading" %>
      <%= f.text_field :step_picture %>
    </div>

    <div class="actions">
      <%= f.submit "Add Step", class: "sign-in-buttons" %>
    </div>
  <% end %>
<% end %>

<h3 class="text-center small-12 columns add-comment-title">Comments</h3>

<% @comments.each do |comment| %>
  <div class="comment-border">
    <p>
      <div class="user-comment">
        <%= comment.user.username %>:
      </div>
      <div class="comment-body">
        <%= comment.body %>
      </div>
    </p>

    <% if current_user == comment.user || current_user.admin? %>
      <%= link_to "Update Comment", edit_project_comment_path(@project, comment)%>
    <% end %>
  </div>
<% end %>

<h3 class="text-center small-12 columns add-comment-title">Add Comment</h3>

<%= form_for [@project, @comment] do |f| %>
  <div class="field">
    <%= f.label :body, class: "small-12 columns sign_up_heading" %>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit "Comment", class: "sign-in-buttons" %>
  </div>
<% end %>
</div>

<%= link_to "Back To Projects", root_path %>
