<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav>
      <div class="top-bar navbar">
        <div class="top-bar-left navbar">
          <% if user_signed_in? %>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
            <%= link_to 'Update Info', edit_user_registration_path %>
          <%else%>
            <%= link_to 'Sign In', new_user_session_path %>
            <%= link_to 'Sign Up', new_user_registration_path %>
          <% end %>
        </div>
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <div class="top-bar-left navbar">
              <%= link_to 'List of Users', users_path %>
            </div>
          <% end %>
          <div class="top-bar-right navbar">
            <%= link_to 'My Profile', current_user %>
            <%= link_to 'Create New Project', new_project_path %>
          </div>
        <% end %>
      </div>
    </nav>

    <h1 class="text-center heading">DIYsign.</h1>

    <div class="text-center header-links-div">
      <div class="header-links">
        <%= link_to "Home Improvement", categories_path(params:{id: "Home Improvement"}), class: "header-links" %>
        <%= link_to "Crafting", categories_path(params:{id: "Crafting"}), class: "header-links" %>
        <%= link_to "Costumes", categories_path(params:{id: "Costumes"}), class: "header-links" %>
        <%= link_to "Misc.", categories_path(params:{id: "Misc."}), class: "header-links" %>
      </div>
    </div>

    <div class="row column">
    <% if notice.is_a?(Array) %>
      <% notice.each do |this_notice| %>
        <p class="notice"><%= this_notice %></p>
      <% end %>
    <% elsif notice %>
      <p class="notice"> <%= notice %></p>
    <% end %>

    <%= yield %>

    </div>

  </body>
</html>
